<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse" >
            <ul class="navbar-nav ">
                <li class="nav-item"><a routerLink="/recipes">Recipes</a></li>
                <li class="nav-item"><a href="">.      .</a></li>
                <li class="nav-item"><a routerLink="/shopping-list">Shopping List</a></li>

            </ul>
            <ul  class="nav navbar-nav  ml-auto">
                <li ngbDropdown class="dropdown show  nav-item">
                    <a ngbDropdownToggle href="#" class="dropdown-toggle" role="button">Manage</a>
                    <ul ngbDropdownMenu class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>