<div class="row">
    <div class="col-xs-12">
        <img [src]=" recipe.imagePath " alt="{{ recipe.name }}" class="img-respponsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="button-group">
            <button class="btn btn-primary btn-toggle">Manage Recipe</button>
            <ul class="dropdown-menu">
                <li>To Shopping List</li>
                <li>Edit Recipe</li>
                <li>Delete Recipe</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>